<div class="row">

    <div id="sidebar" class="col-md-3 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Dashboard</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Privilege Manage <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/admin/showAdminGlobalPrivilege"> Global Privilege</a></li>
                <li><a href="/admin/showAdminGroupPrivilege"> Group Privilege</a></li>
                <li><a href="/admin/showAdminEventPrivilege"> Event Privilege</a></li>
              </ul>
            </li>
            <li><a href="/admin/showAdminRoleManage"><span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span> Role Manage</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="workspace" class="col-md-9 col-xs-12" >
      <div class="panel panel-default">
        <div class="panel-body">


          Dashborad content
        

        </div>
      </div>
    </div>
</div>
