
<form action="" method="POST" role="form">
  <legend>Please select your survey</legend>

  <div class="form-group">
    <label for="surveyname">survey</label>
    <select name="survey" id="surveyname" class="form-control" required="required">
      <% _.each(surveys, function(survey) { %>

        <option value=<%=survey.id%>><%=survey.desc%></option>
      
      <%})%>
      
    </select>

  </div>

  <div class="form-group">
    <label for="surveypaging">survey</label>
    <select name="paging" id="surveypaging" class="form-control" required="required">
       <option value=0>Questions in single page</option>
       <option value=1>Questions in multiple pages</option>
    </select>
  </div>

  <button type="submit" id="startSurvey" class="btn btn-primary">Go</button>

</form>

<script type="text/javascript">

   $('#startSurvey').click(function(event){
    
    event.preventDefault();
    location.href= '/survey/'+$('#groupID').val()+'/startsurvey?survey='+$('#surveyname').val()+'&paging='+$('#surveypaging').val();

   })

</script>
