
<div class="container">
        <div class="jumbotron" id='outer_container'>
            
            <h2><%=fullname %></h2>
            <h3>Thank you for joining this survey.</h3>
            <hr>
            <a role="button" class="btn btn-default navbar-btn pull-right" href="/survey/report/'+<%=surveyID%>>Get Report</a>
            
        </div>
</div>

