<html>
<!--default template-->
<head>
<style> 

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
td.foot{
  color: gray;
}

</style>

</head>

<table>
  <tr>
    <img src="cid:head@meetup">
  </tr>
  <tr>
    <td> <%-content%> <br/><br/><br/></td>
  </tr>
  <tr>
    <td class="foot"> ---<br/>This message was automatically created by Beehive. <br/><%=new Date()%> </td>
  </tr>

</table>

<body >


</body>
</html>
