<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Work Episode 1 </title>

    <!-- Bootstrap core CSS -->
    <link href="/vender/bootstrap/dist/css/bootstrap.css" rel="stylesheet">        

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/styles/subpagecss/main.css" >

    <!-- Fonts -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,400,700'>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

	<%include sitehead.ejs%>
	
	<!-- +++++ Post +++++ -->
	<div id="white">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p> <h3>Episode 1: A company internal online meetup system - Beehive</h3></p>
					<p><bd>Software Tester & Developer</bd></p>
					<p>
					<a href="#codedownload" class="but">Code Segments</a>
					<a href="#unittest" class="but">Module Test Cases</a>
					<a href="#atcases" class="but">Automatic Test</a>
					<a href="/beehive" class="but" target="_blank">Website Demo</a>		
					<br>
					<h4>Overview of the project</h4>					
					<h6><li>Chronology: Dec 2015 to Dec 2017</li></h6>
					<h6><li>Geographical Location: Hangzhou, China</li></h6>
					<h6><li>Name of Organization: R&D Centre, Nokia Solutions and Networks</li></h6>
					<h6><li>Position Occupied: Test Engineer & Software Engineer</li></h6>
					</p>
					<p>Beehive is a Sails based web application. It is used inside NOKIA for public group and event. Group is an abstract concept used to organize relevant events. The event can be one contest, workshop or training.... It is the bridge between event organizer and other people. People can join the interested group and event with his own needs. Previously the communication mainly relies on newsletter which is not so efficient.</p>
					<p>Now Beehive has been deployed in my personal website, you can visit it via: <h4><a href="/beehive" target="_blank">http://www.nzleo.net/beehive</a></h4></p>
					<p>Followed by this project, we also have plan to develop one system called Persona which can show the competence level of our employee, further we will build another system called WeBond on which our employee can exchange knowledge. Beehive project is the base for coming two system.</p>
					<p>All of these three systems will work together to help build strength community and software craftsmanship culture in the company.</p>
					<br>
					
					<h4>My role and responsibilities</h4>	
					<p>Beehive is part of a big ecosystem (called Ranking System), which consists by: </p>
					<li>Beehive</li>					
					<li>Persona<ul>A website to show the competence level of each one from different aspects, combining different data visualization view. The competence data partly comes from Beehive, user can also input data from other channels.</ul></li>
					<li>Webond<ul>A knowledge/experience/skill exchange website. People can post either their [Service] or  [Request], and the website will match the supply and demand then make the deal successfully.</ul></li>
					<li>Pigeon<ul>An Email service provider, it receives requests from whole ecosystem, and deliver mail notification to target persons.</ul></li>													
					<p>I work as both tester and developer for this ecosystem.</p>
					<h5>As Tester</h5>
					<p>
						I perform functional testing for Persona:
						<li>user profile management</li>
						<li>skill and skillset management</li>						
					</p>
					<p>
						I perform functional and non-functional testing for Pigeon:
						<li>email sending by personal id, mail address and group address</li>
						<li>capacity and performance</li>
						<li>stability</li>
					</p>	
					<p>
						I perform functional testing for Webond:
						<li>knowledge exchange</li>
						<li>user message box</li>
						<li>honorwall</li>
					</p>			
					<p>
						I perform integration testing for the whole ecosystem:
						<li>Employee Credit Points Obtaining</li>
						<li>Credit Pionts Redemption</li>
						<li>Ranking Table Generation According To Filters</li>
					</p>						
					<p>I automate all upper testing cases by Robot Framework and Selenium library. There are a lot of testing keyword written in Python. All automatic testing cases are integrated to Jenkins based Continuous Integration environment, which can verify each time of new code commit in very short time cycle.</p>
					<h5>As Developer</h5>
					<p>
						I am one of key developers of Beehive:
						<li>Take tasks of Front End(node.js, HTML, CSS, jQuery, Bootstrap etc) and Back End(node.js) fucntionality for Group Management, Event Management and User Log In/Out. </li>
						<li>Transform the whole website framework to React.js</li>
						<li>Optimize data access perforce by using Redux technogoly</li>
						<li>Study and change deployment environment to Docker</li>
						<li>Use Mocha/Supertest/Chai to perform unit test</li>
						<li>Deploy latest product in production server</li>
					</p>
					<br>					
					<h4>Tree of Source Files</h4>					
<pre>`-- readme.md
    bower.json
    package.json
    .tmp
    |-- api
    |   |-- controllers
    |   |-- models
    |
    |-- assets
    |-- node_modules
    |-- react
    |    |-- components
    |    |-- core    
    |-- config
    |    |-- connections.js
    |    |-- models.js
    |    |-- routes.js
    |
    |-- views
    |
    `-- images
</pre>			
					<ul class="task-list">
					<li>
					<code>readme.md</code> is the project introduction. 'bower.json' and 'package.json' define the needed packages which will be installed by
					'npm -i' and 'bower -i' commands.</li>
					<li>folder <code>api/controllers</code> is the Controllers (the C in MVC). They are the principle objects in this project that are responsible for responding to requests from a web browser. They act as a middleman between your models and views.
					The controllers will contain the bulk of project’s business logic.</li>
					<li>folder <code>api/models</code> is the M part in MVC. It defines the attributes of tables and records in database.</li>
					<li>folder 'assets' contains the static resouce used in this project, includes js, css and images files. Also the third part JS library is in this folder.</li>
					<li>folder 'node_modules' contains the packages used in this project.</li>
					<li>folder 'react' contains React framework based source code.</li>
					<li>folder 'config' contains the overall config info for the project. The most important file is connections.js, models.js and routes.js. Connections.js define which database will be used.
					And the models.js defines the database config info.  routes.js is one important file which define the url mapping way between url and the action in controllers.</li>
					<li>folder 'views' is the V part in MVC. It will be render and showed in web browser.</li>
					<li>folder 'images' under the root of project is used to save the pictures uploaded by users.</li>
					</ul>					
					<br>
					<img src="/imgs/homepageimg/works/1/GitGerrit.jpg" alt="">	
					<h4>Segments of Automatic Test Scripts written by me</h4>
					<p>
            The automatic test scripts and cases are based on Robot Framework and Selenium library. Test cases could be run by either Robot IDE or pybot.py command. You may find the pybot exection result for part of testing cases.
          </p>
    <pre>
    command: pybot.bat --argumentfile c:\users\h3liang\appdata\local\temp\RIDE64hjz0.d\argfile.txt 
    --listener c:\python27\lib\site-packages\robotide\contrib\testrunner\TestRunnerAgent.py:65058:False 
    D:\Personal\beehive\beehivetest\Beehive
 
    ====================================================================================
    Beehive
    ====================================================================================
    Beehive.Homepage 
    ====================================================================================
    CheckTitleAndNav | PASS |
    ------------------------------------------------------------------------------------
    CheckPageHeader | PASS |
    ------------------------------------------------------------------------------------
    CheckGroupsInfo | PASS |
    ------------------------------------------------------------------------------------
    CheckFooter | PASS |
    ------------------------------------------------------------------------------------
    LoginAndOut | PASS |
    ------------------------------------------------------------------------------------
    Beehive.Homepage | PASS |
    5 critical tests, 5 passed, 0 failed
    5 tests total, 5 passed, 0 failed
    ====================================================================================
    Beehive | PASS |
    5 critical tests, 5 passed, 0 failed
    5 tests total, 5 passed, 0 failed
    ====================================================================================
    Output: c:\users\h3liang\appdata\local\temp\RIDE64hjz0.d\output.xml
    Log: c:\users\h3liang\appdata\local\temp\RIDE64hjz0.d\log.html
    Report: c:\users\h3liang\appdata\local\temp\RIDE64hjz0.d\report.html                           
    
    </pre>
          <p id="atcases">
            You may download below zip file to see part of Automatic Test Cases for verifying homepage UI&functionality, Group and Event related functionalities.  
          </p>  
          <a href="/imgs/homepageimg/works/1/Beehive_AT.rar" class="but">Automatic Test</a>                      
					<br>
					<h4 id="codedownload">Segments of Software Code written by me</h4>
					<p>
					  You may download below zip file to see segments of software code for Group/Event related functionalities. These code segments consists Model, View and Controller implementation of them.  
					</p>
          <a href="/imgs/homepageimg/works/1/code.zip" class="but">Code Segments</a>					
					<br>
					<h4 id="unittest">Segments of Module Test Cases written by me</h4>
					<p>
					  Use Mocha framework With Node.js For Module Testing to avoid pain and ship Products faster. TDD(Test-Driven Development) and BDD(Behavior-Driven Development) thinkings are applied in terms of module test cases writing.
					  <ul>
					    <li>
					      Test-driven development (TDD) is one of the main, agile development techniques. The genius of TDD lies in increased quality of code, faster development resulting from greater programmer confidence, and improved bug detection. In my project <b>assert</b> function is widely used for TDD thinking. The main point of TDD is to ensure code meets <b>programmers' expectation</b>.
					    </li>
              <li>
                The behavior-driven development (BDD) concept is based on TDD. It differs from TDD in language, which encourages collaboration between product owners and programmers. The key point of BDD is to ensure that code meets <b>customers expectations</b>.In my project <b>Expect.js</b> widely used for BDD thinking. 
              </li>					    
					  </ul>
					  You may download below zip file to see segments of module test code.
					</p>
          <a href="/imgs/homepageimg/works/1/mt.zip" class="but">Module Test Cases</a>    					
					<br>					
					<p><bt>TAGS: <a href="#">Web Development</a> - <a href="#">Web Testing</a> - <a href="#">Selenium</a> - <a href="#">MySQL</a> - <a href="#">React</a></bt></p>
					<hr>
					<p><a href="/episode2" target="_blank">#Work Episode 2&nbsp;&nbsp;</a>
					<a href="/episode3" target="_blank">#Work Episode 3&nbsp;&nbsp;</a>
					<a href="/episode4" target="_blank">#Work Episode 4&nbsp;&nbsp;</a>
					<a href="/episode5" target="_blank">#Work Episode 5&nbsp;&nbsp;</a>
					<a href="/episode6" target="_blank">#Work Episode 6</a></p>
				</div>

			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /white -->
		
	
	<!-- +++++ Footer Section +++++ -->
	
  <footer id="footer" class="row">
      <div class="footer-content page">
          <div class="col f1">
              <p>© 2017 Leo Liang. &nbsp I live in the amazing New Zealand.</p>
          </div>
      </div>
  </footer>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <%include navitemmodal.ejs%>

  </body>
</html>
