<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>

        <!-- Basics -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>.:: Hui Liang Website ::.</title>
        <link name="author" href="humans.txt" />
        <meta name="description" content="Hui Liang, Software Engineer">

        <!-- Favicons -->
        <link rel="shortcut icon" href="img/favicons/favicon.ico">

        <!-- Mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="/styles/homepagecss/normalize.min.css">
        <link rel="stylesheet" type="text/css" href="/styles/homepagecss/main.css">

        <!-- Fonts -->
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,400,700'>
				<!--link rel="stylesheet" href="/vender/bootstrap/dist/css/bootstrap.min.css"-->
				<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
				<!--script src="/js/homepagejs/"></script-->
				<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
				<!--script src="/js/homepagejs/bootstrap.min.js"></script-->  
				<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </head>
    <body>   

        <div class="wrapper">

            <header>
                <a class="menu-icon jiji">
                    <span></span>
                </a>
                <nav class="menu visuallyhidden">
                    <ul>
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">About me</a></li>
                        <li><a href="#services">My Skills</a></li>
                        <li><a href="#work">My Portfolio</a></li>
												<li><a href="#letters">Reference Letters</a></li>                                                  
                        <li><a href="#employers">Former Employers</a></li>
												<li><a href="#contact">Contact</a></li>                        
                    </ul>
                </nav>
            </header>

            <section id="home" class="row">
                <div class="overlay">
                    <div class="col home-title jiji">
                        <h1>Leo Liang</h1>
                        <h2>Software Developer / Tester</h2>                        
												<a id="cv" href="javascript:void(0);" class="but">Download CV</a>                         
                        <a href="/certificate/NZQA.png" target="_blank" class="but">NZQA Level 9</a>                        
                        <a href="/certificate/KA02_HuiLiang.pdf" target="_blank" class="but">IPENZ Certificate</a>                                                
                    </div>
                </div>
            </section>

            <section id="about" class="row">
                <div class="page about-content">
                    <div class="col about-title">
                        <h3
                            data-100="-webkit-transform: translateX(100px); opacity:0;"
                            data-500="-webkit-transform: translateX(0px); opacity:1;"
                        >About me</h3>
                    </div>
                    <div class="col about-img">                    
                    	<img src='/imgs/myself.jpg'alt="my photo">  
                    </div>
                    <div class="col empty">&nbsp;</div>

                    <div class="col about-description">
                        <p
                            data-100="opacity:0;"
                            data-500="opacity:1;"
                        >I am a capable IT professional person with more than 12 years of extensive experience in the full-cycle of software R&D, including requirements analysis, software implementation, integration & testing, troubleshooting and maintenance by using multiple programming languages as well as testing tools in Windows, Linux, Embedded OS, Web and mobile development environments.</p>
                    </div>
                    <div class="col empty">&nbsp;</div>
                </div>
            </section>
            
            <hr class="hrline">
            
            <section id="services" class="row">       
                <div class="services-content page">
                    <div class="col about-title">
                        <h3
                            data-100="-webkit-transform: translateX(100px); opacity:0;"
                            data-500="-webkit-transform: translateX(0px); opacity:1;"
                        >My skills</h3>
                    </div>                   
                    <div class="col services-design"
                        data-600="-webkit-transform: translateY(10px); opacity:0;"
                        data-800="-webkit-transform: translateY(0px); opacity:1;"
                    >
                        <span class="icon-design"></span>
                        <ul>
                            <li>SW Development</li>
                            <li>Linux/Windows/iOS OS</li>
                            <li>MySQL/Sybase/SQL Server</li>
                            <li>Embedded development</li>
                            <li>C</li>
                            <li>HTML/CSS</li>
                            <li>JS/Node.js</li>
                            <li>jQuery</li>
                            <li>Bootstrap</li>                            
                            <li>React/Redux</li>  
                            <li>Ajax</li>                                                      
                            <li>RESTful API</li>                            
                            <li>TCP/IP/UDP</li>                             
                        </ul>
                    </div>
                    <div class="col services-frontend"
                        data-600="-webkit-transform: translateY(50px); opacity:0;"
                        data-800="-webkit-transform: translateY(0px); opacity:1;"
                    >
                        <span class="icon-computer"></span>
                        <ul>
                            <li>SW Testing</li>
                            <li>Robot Framework</li>
                            <li>Automatic Testing</li>                           
                            <li>Selenium</li>
                            <li>Python</li>
                            <li>Manual Testing</li>                             
                            <li>Functional/Non-functional testing</li>                            
                            <li>Exploratory Testing</li>                            
                            <li>Acceptance Testing</li>                             
                            <li>Unit Testing</li>                               
                            <li>Bugzilla</li>                             
                            <li>ISTQB</li>                                 
                            <li>Test Plan/Report</li>                               
                        </ul>
                    </div>
                    <div class="col services-team"
                        data-600="-webkit-transform: translateY(100px); opacity:0;"
                        data-800="-webkit-transform: translateY(0px); opacity:1;"
                    >
                        <span class="icon-music"></span>
                        <ul>
                            <li>Engineering Skills</li>
                            <li>Agile</li>
                            <li>Scrum</li>
                            <li>Continuous Integration</li>
                            <li>Continuous Delivery</li>
                            <li>Jira</li>
                            <li>Confluence</li>   
                            <li>Git/SVN/Github</li>    
                            <li>Jenkins</li>                                
                            <li>Gerrit</li>                                 
                            <li>OpenStack/Cloud/VMware</li>     
                            <li>Sails/Ngix/Apache </li>                                                                                                                                    
                        </ul>
                    </div>
                </div>
            </section>

            <hr class="hrline">

            <section id="work" class="row">
                <div class="work-content page">
                    <div class="col work-title">
                        <h3
                            data-900="-webkit-transform: translateX(-100px); opacity:0;"
                            data-1300="-webkit-transform: translateX(0px); opacity:1;"
                        >My Portfolio</h3>
                    </div>
                    <div class="col empty">&nbsp;</div>
                    <div class="col work-description">
                        <p
                            data-900="opacity:0;"
                            data-1300="opacity:1;"
                        >A selection of projects I've been working on: websites, telecom software and desktop applications...</p>
                    </div>
                    <div class="col empty">&nbsp;</div>
                </div>
                <div class="work-examples page">
                    <div class="col work-item"
                        data-1300="opacity:0;"
                        data-1400="opacity:1;"
                    >
                        <img src="/imgs/homepageimg/works/1.jpg" alt="">
                        <div class="work-item-inside">
                            <div class="work-item-inside-content">
                                <h4>Developer&Tester</h4>
                                <a href="/episode1" class="but" target="_blank">Click here</a>
                            </div>
                        </div>
                    </div>
                    <div class="col work-item"
                        data-1300="opacity:0;"
                        data-1400="opacity:1;"
                    >
                        <img src="/imgs/homepageimg/works/2.jpg" alt="">
                        <div class="work-item-inside">
                            <div class="work-item-inside-content">
                                <h4>Tester</h4>
                                <a href="/episode2" class="but" target="_blank">Click here</a>
                            </div>
                        </div>
                    </div>
                    <div class="col work-item"
                        data-1300="opacity:0;"
                        data-1600="opacity:1;"
                    >
                        <img src="/imgs/homepageimg/works/3.jpg" alt="">
                        <div class="work-item-inside">
                            <div class="work-item-inside-content">
                                <h4>Developer</h4>
                                <a href="/episode3" class="but" target="_blank">Click here</a>
                            </div>
                        </div>
                    </div>
                    <div class="col work-item"
                        data-1300="opacity:0;"
                        data-1400="opacity:1;"
                    >
                        <img src="/imgs/homepageimg/works/4.jpg" alt="">
                        <div class="work-item-inside">
                            <div class="work-item-inside-content">
                               <h4>Developer</h4>
                               <a href="/episode4" class="but" target="_blank">Click here</a>
                            </div>
                        </div>
                    </div>
                    <div class="col work-item"
                        data-1300="opacity:0;"
                        data-1500="opacity:1;"
                    >
                        <img src="/imgs/homepageimg/works/5.jpg" alt="">
                        <div class="work-item-inside">
                            <div class="work-item-inside-content">
                                <h4>Developer</h4>
                                <a href="/episode5" class="but" target="_blank">Click here</a>
                            </div>
                        </div>
                    </div>
                    <div class="col work-item"
                        data-1300="opacity:0;"
                        data-1600="opacity:1;"
                    >
                        <img src="/imgs/homepageimg/works/6.jpg" alt="">
                        <div class="work-item-inside">
                            <div class="work-item-inside-content">
                                <h4>Developer</h4>
                                <a href="/episode6" class="but" target="_blank">Click here</a>
                            </div>
                        </div>
                    </div>                    
                </div>
            </section>

            <hr class="hrline">

            <section id="letters" class="row">          
                <div class="contact-content page">
                    <div class="col contact-title">
                        <h3
                            data-100="-webkit-transform: translateX(100px); opacity:0;"
                            data-500="-webkit-transform: translateX(0px); opacity:1;"
                        >Reference Letters</h3>
                    </div>      
										<div class="container">
										    <div class="row">
										      <div class="col-xs-1 col-sm-3"></div>
											    <div class="col-xs-10 col-sm-6">
															<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
														    <!-- 轮播（Carousel）指标 -->
														    <ol class="carousel-indicators">
														        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
														        <li data-target="#myCarousel" data-slide-to="1"></li>
														        <li data-target="#myCarousel" data-slide-to="2"></li>
														    </ol>   
														    <!-- 轮播（Carousel）项目 -->
														    <div class="carousel-inner">
														        <div class="item active">
														        	<a href="/letters/zy.pdf">
														            <img src="/imgs/homepageimg/ZY.jpg" alt="First slide">
														          </a>  
														        </div>
														        <div class="item">
														        	<a href="/letters/zcz.pdf">														        	
														            <img src="/imgs/homepageimg/ZCZ.jpg" alt="Second slide">
														          </a>
														        </div>
														        <div class="item">
														        	<a href="/letters/rw.pdf">														        	
														            <img src="/imgs/homepageimg/RW.jpg" alt="Third slide">
														          </a>  
														        </div>
														    </div>

																<div style="text-align:center;">
																	<input type="button" class="btn prev-slide" value="<">
																	<input type="button" class="btn next-slide" value=">">
																</div>														    
														    
															</div>							      	
											    </div>      											   							   
											  </div>            	
			            	</div>
			          </div>  	
            </section>

            <hr class="hrline">         
            
            <section id="employers" class="row">
                <div class="contact-content page">
                    <div class="col contact-title">
                        <h3
                            data-100="-webkit-transform: translateX(100px); opacity:0;"
                            data-500="-webkit-transform: translateX(0px); opacity:1;"
                        >My Former Employers</h3>
                    </div>                  
                    <div>
                        <a href="https://www.nokia.com/en_int" target="_blank"><img src="/imgs/homepageimg/Nokia.jpg"></a>    
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="http://www.hundsun.com/en/" target="_blank"><img src="/imgs/homepageimg/Hundson.jpg"></a>                          
                    </div>
                </div>
            </section>      
                        
            <hr class="hrline">
            
            <section id="contact" class="row">
                <div class="contact-content page">
                    <div class="col contact-title">
                        <h3
                            data-100="-webkit-transform: translateX(100px); opacity:0;"
                            data-500="-webkit-transform: translateX(0px); opacity:1;"
                        >Get in touch</h3>
                    </div>
                    <div class="col empty">&nbsp;</div>
                    <div class="col contact-description">
                        <a href="mailto:13905538@qq.com" class="but">13905538@qq.com</a>
                        <a class="but">MP: 021 2357623</a>                        
                    </div>
                    <div class="col empty">&nbsp;</div>             
                </div>
            </section>

            <footer id="footer" class="row">
                <div class="footer-content page">
                    <div class="col f1">
                        <p>© 2017 Leo Liang. &nbsp I live in the amazing New Zealand.</p>
                    </div>
                </div>
            </footer>

        </div>

        <div class="loader"></div>

				<div class="modal fade" id="cvmodal">  
				    <div class="modal-dialog">  
				        <div class="modal-content">  
				            <div class="modal-header">  
				                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>  
				                <h4 class="modal-title">My CV</h4>  
				            </div>  
				            <div class="modal-body">  
				                <p>If you would like to have my latest CV, please Email me at 13905538@qq.com</p>		                
				            </div>  
				            <div class="modal-footer">  
				                <a href="/cv/HuiLiang-CV.pdf" target="_blank" class='btn btn-primary'>Download CV</a>  		                
				            </div>  
				        </div><!-- /.modal-content -->  
				    </div><!-- /.modal-dialog -->  
				</div><!-- /.modal -->  	

        <!-- JavaScript -->
        <!--script src="/js/homepagejs/modernizr-2.6.2.min.js"></script-->
        <!--script src="/js/homepagejs/skrollr.js"></script-->
        <script src="/js/homepagejs/skrollr.min.js"></script>
        <script src="/js/homepagejs/main.js"></script>

				<script type="text/javascript">
					$(function(){	
						// 循环轮播到上一个项目
						$(".prev-slide").click(function(){
							$("#myCarousel").carousel('prev');
						});
						// 循环轮播到下一个项目
						$(".next-slide").click(function(){
							$("#myCarousel").carousel('next');
						});						
					});
					
					$(function(){  
						$("#cv").click(function(){  
						  $("#cvmodal").modal("toggle");  
						}); 
					})	  					
				</script>

    </body>

</html>