<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Reference Letters </title>

    <!-- Bootstrap core CSS -->
    <link href="/vender/bootstrap/dist/css/bootstrap.css" rel="stylesheet">        

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/styles/subpagecss/main.css" >

    <!-- Fonts -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,400,700'>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

	<%include sitehead.ejs%>
	
	<!-- +++++ Post +++++ -->
	<div id="white">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p> <h3>1. Reference Letter: From ZY Qin, Head of R&D, Nokia Networks Hangzhou Campus, China</h3></p>								
					<br>				
					<a href="/letters/zy.pdf">The letter from ZY Qin
						<img src="/imgs/homepageimg/ZY.jpg" alt="ZY Qin" width="100%">
					</a>
					<br>
					<br>	
					<hr>
					<br>					
					<p> <h3>2. Reference Letter: From CZ Zhou, CTO&Vice President, Bigangwan Technology, China</h3></p>										
					<br>
					<a href="/letters/zcz.pdf">The letter from CZ Zhou
						<img src="/imgs/homepageimg/ZCZ.jpg" alt="CZ Zhou" width="100%">
					</a>
					<br>
					<br>
					<hr>	
					<br>					
					<p> <h3>3. Reference Letter: From Wei Ren, Software Architect, Nokia Networks Hangzhou Campus, China</h3></p>								
					<br>	
					<a href="/letters/rw.pdf">The letter from Wei Ren
						<img src="/imgs/homepageimg/RW.jpg" alt="Wei Ren" width="100%">
					</a>	
					<br>														
															
				</div>

			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /white -->
		
	
	<!-- +++++ Footer Section +++++ -->
	
  <footer id="footer" class="row">
      <div class="footer-content page">
          <div class="col f1">
              <p>© 2017 Leo Liang. &nbsp I live in the amazing New Zealand.</p>
          </div>
      </div>
  </footer>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <%include navitemmodal.ejs%>
  </body>
</html>
