    <!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Hi, I am Leo </a>
					<!-- img src="/imgs/myself.png" width="100px" height="100px" -->          
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a id="cv" href="javascript:void(0);">CV</a></li>            
            <li><a href="/certificate">Certificates</a></li>
            <li><a href="/letters">Referrence Letters</a></li>                    
            <li><a id="contact" href="javascript:void(0);">Contact</a></li>  
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>