<div class="container">
    <div class="row" id = "row-content">
        <h2 class="section-title">My Group</h2>
        <% for(var i=0; i<groups.length; i++) {%>
          <div class="col-xs-6 col-md-4 group-item">
             <a href="<%= '/group/show/'.concat(groups[i].id)+'?'+appendix +'#/group/'.concat(groups[i].id)+'/load' %>" ><img  src="<%= groups[i].groupfd %>">
             <div class = "group-info">
                <h2><%= groups[i].name %></h2>
                <p><%= groups[i].user.length %> members</p>
             </div>
             </a>
          </div>
        <% } %>
    </div>
</div>