
<div class="page-header">
  <h1><%= fullname %>,<small> Thank you for your test</small></h1>
</div>
<div class="container">
        <div class="jumbotron" id='outer_container'>
            
            <h3>Your score is: <%= score %></h3>
            <hr>
            
        </div>
</div>

