<div class="container">


  <a href="#/test/touploadpaper" class="btn btn-lg btn-warning">I want to upload paper...</a>
  <a href="#/test/tostarttest" class="btn btn-lg btn-warning">I wish to answer paper...</a>

</div>